<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>QUIZ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
</head>
<body>
    <h1>Credits</h1>
 <p>Javier Martinez Teba</p>

</body>
</html>